::selection {
  background-color: #2b930b;
  color: #fff;
}

body {
  font-size: 1.125rem;
  font-family: Arial;
  line-height: 1.6;
  color: #223344;
}

.wrapper {
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;
}

img {
  max-inline-size: 100%;
  display: block;
}

h1 {
  text-align: center;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 1.1;
}

h2 {
  color: seagreen;
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

.teal-text {
  color: teal;
}

.teal-bg {
  background-color: teal;
  color: linen;
  padding: 1rem;
  border: 10px solid rgb(20, 118, 135);
}

section {
  margin-block: 70px;
}

.two-column-layout {
  display: grid;
  gap: 70px;
  margin-block-end: 70px;
  
  @media (width > 720px) {
    grid-template-columns: 1fr 1fr;
  }
}

ul li::marker {
  color: teal;
}

li {
  margin-block: 5px;
}

footer {
  text-align: center;
}
